*db.sqlite3
*/example/db.sqlite3
*/example/data/static/*
!example/data/static/README.md
__pycache__/*
*.pyc
oidc_provider/tests/example/db.sqlite3
oidc_provider/tests/example/data/oidc_op/private/*
!oidc_provider/tests/example/data/oidc_op/private/README.md
oidc_provider/tests/example/data/static/*
oidc_provider/tests/example/static/
snippets/private
snippets/static
static/*
