Django>=2.2.4
oidcop
gunicorn

git+https://github.com/openid/JWTConnect-Python-CryptoJWT
git+https://github.com/openid/JWTConnect-Python-OidcMsg
git+https://github.com/openid/JWTConnect-Python-OidcService
git+https://github.com/openid/JWTConnect-Python-OidcMsg
git+https://github.com/IdentityPython/oidcendpoint.git
